  html, body{
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .wrap{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        body[data-darkmode=on] {
            background-color: #1e1f21;
            color: #ffffff !important;
        }
        body[data-darkmode=on] .menu_fixed {
            background-color: #1e1f21;
            color: #ffffff !important;
        }
         body[data-darkmode=on] .dropdown-menu {
            background-color: #1e1f21;
            color: #ffffff !important;
        }
         body[data-darkmode=on] .essayDark {
            background-color: #1e1f21;
            color: #ffffff !important;
            font-weight: 500;
            text-decoration: none;
            border-bottom: 2px solid #696969;
        }
         body[data-darkmode=on] .essayHead {
            background-color: #455c48;
            color: #ffffff !important;
            font-weight: 700;
        }
         body[data-darkmode=on] table {
            background-color: #1e1f21;
            color: #ffffff !important;
            font-weight: 500;
            border-bottom: 2px solid #696969;
        }
        body[data-darkmode=on] #hmajor {
            background-color: #1e1f21;
            color: #ffffff !important;
            border: 1px solid #1e1f21;
        }
        body[data-darkmode=on] .twrite {
            background-color: #1e1f21;
            color: #ffffff !important;
            border-top: 1px solid #2e2f30;
        }
         body[data-darkmode=on] #accordion {
            background-color: #1e1f21;
            color: #ffffff !important;
             border-bottom: 1px solid #1e1f21;
        }
        body[data-darkmode=on] .tsave {
            background-color: #1e1f21;
            color: #ffffff !important;
            border-top: 1px solid #1e1f21;
            border-bottom: 1px solid #2e2f30;
        }
        
        body[data-darkmode=on] .nav-link{
            color: #ffffff !important;
        }
        body[data-darkmode=on] .dropdown-item{
            color: #ffffff !important;
        }
        body[data-darkmode=on] h3{
            color: #ffffff !important;
        }
         body[data-darkmode=on] h4{
            color: #ffffff !important;
        }
        body[data-darkmode=on] h1{
            color: #ffffff !important;
        }
        body[data-darkmode=on] h2{
            color: #ffffff !important;
        }
         body[data-darkmode=on] th{
            color: #ffffff !important;
        } 
        body[data-darkmode=on] td{
            color: #ffffff !important;
        }
         body[data-darkmode=on] .btn_2 {
            background-color: #8f87c4;
        }
        body[data-darkmode=on] .darkTitle {
            color: #ffffff !important;
        }
        body[data-darkmode=on] #searchBtn {
            color: #65a16a !important;
        }
        body[data-darkmode=on] #type {
            color: #65a16a !important;
            background-color: #1e1f21;
        }
        
         body[data-darkmode=on] .client_review {
          background: linear-gradient(135deg, #406b36, #5c6263);
        }
        
        
       
        
        
        /* Darkmode Toggle */
        body[data-darkmode=on] .darkmode > .inner{
            background-color: rgba(255,255,255,0.25);
        }
        .darkmode > .inner{
            position: relative;
            display: inline-flex;
            padding: 5px;
            border-radius: 1.5em;
            background-color: rgba(0,0,0,0.1);
        }
        .darkmode label {
            cursor: pointer;
        }
        .darkmode label:first-of-type{
            padding: 5px 5px 5px 10px;
            border-radius: 50% 0 0 50%;
        }
        .darkmode label:last-of-type{
            padding: 5px 10px 5px 5px;
            border-radius: 0 50% 50% 0;
        }
        .darkmode i{
            font-size: 1.5em;
            color: #aaa;
        }
        .darkmode input[type=radio]{
            display: none;
        }
        .darkmode input[type=radio]:checked + label > i {
            color: #fff;
            transition: all 0.35s ease-in-out;
        }
        .darkmode .darkmode-bg{
            width: 39px;
            height: 34px;
            position: absolute;
            left: 5px;
            border-radius: 50px 15px 15px 50px;
            z-index: -1;
            transition: all 0.35s ease-in-out;
            background-color: #03a9f4;
        }
        #toggle-radio-dark:checked ~ .darkmode-bg{
            border-radius: 15px 50px 50px 15px;
            top: 5px;
            left: 44px;
        }