<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="global.sesoc.library.dao.MemberMapper">

	<!-- 회원 정보 저장 -->
	
	
	<!-- ID로 회원 정보 검색 -->
	

	<!-- 모든 회원 정보 -->
	

</mapper>
