<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="global.sesoc.library.vo.Members" alias="Members" />
		<typeAlias type="global.sesoc.library.vo.Board" alias="board" />
		<typeAlias type="global.sesoc.library.vo.Reply" alias="reply" />
		<typeAlias type="global.sesoc.library.vo.Review" alias="review" />
		<typeAlias type="global.sesoc.library.vo.Essay" alias="essay" />
		<typeAlias type="global.sesoc.library.vo.Kakaobook" alias="kakaobook" />
		<typeAlias type="global.sesoc.library.vo.notice_Search" alias="notice_search" />
		<typeAlias type="global.sesoc.library.vo.essay_Search" alias="essay_search" /> 
		<typeAlias type="global.sesoc.library.vo.book_Search" alias="book_search" /> 
		<typeAlias type="global.sesoc.library.vo.Comments" alias="comments" />
		<typeAlias type="global.sesoc.library.vo.Habit" alias="habit" />
		<typeAlias type="global.sesoc.library.vo.Shelf" alias="shelf" />
		<typeAlias type="global.sesoc.library.vo.Calender" alias="calender" />
		<typeAlias type="global.sesoc.library.vo.DChart" alias="dchart" />
		
		<typeAlias type="global.sesoc.library.vo.CommunityVO" alias="community" />
		<typeAlias type="global.sesoc.library.vo.Group_userVO" alias="group_user" /> 
		<typeAlias type="global.sesoc.library.vo.GroupBoardVO" alias="groupboard" /> 
		<typeAlias type="global.sesoc.library.vo.GroupReplyVO" alias="groupreply" />
		

	</typeAliases>
	<mappers>
		<mapper resource="mapper/memberMapper.xml" />
		<mapper resource="mapper/boardMapper.xml" /> 
		<mapper resource="mapper/essayMapper.xml" /> 
		<mapper resource="mapper/bookMapper.xml" />  
		<mapper resource="mapper/mypageMapper.xml" />
		<mapper resource="mapper/groupMapper.xml" />
	</mappers>
</configuration>
