<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="global.sesoc.library.vo.Members" alias="Members" />
		<typeAlias type="global.sesoc.library.vo.Board" alias="board" />
		<typeAlias type="global.sesoc.library.vo.Reply" alias="reply" />
		<typeAlias type="global.sesoc.library.vo.Review" alias="review" />
		<typeAlias type="global.sesoc.library.vo.Essay" alias="essay" />
		<typeAlias type="global.sesoc.library.vo.Kakaobook" alias="kakaobook" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/memberMapper.xml" />
		<mapper resource="mapper/boardMapper.xml" /> 
		<mapper resource="mapper/essayMapper.xml" /> 
		<mapper resource="mapper/bookMapper.xml" />  
	</mappers>
</configuration>
