<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 처리 SQL -->
<mapper namespace="global.sesoc.library.dao.BoardMapper">

<!-- 공지사항 게시글 저장 -->
<insert id="insertBoard" parameterType="Board">
	insert into board
		(
			boardnum
			, board_type
			, title
			, id
			, hits
			, content
		)
	values 
		(
			board_seq.nextval	
			, #{board_type}
			, #{title}
			, #{id}
			, #{hits}
			, #{content}
		)
</insert>

<!-- 관리자가 글쓰면 공지사항으로 저장 -->
<update id="writenotice" parameterType="int">
	update
		board
	set
		board_type = 2,
		title = '[공지]'|| title
	where
		id = 'admin'
</update>

<!-- 공지사항 게시글 읽기 -->
<select id="getBoard" parameterType="int" resultType="Board">
	select 
			boardnum
			, title
			, id
			, hits
			, content
			, to_char(inputdate, 'YYYY-MM-DD HH24:MI:SS') inputdate
	from 
		board
	where 
		boardnum = #{boardnum}
</select>

<!-- 조회수 1 증가 -->
<update id="addHits" parameterType="int">
	update
		board
	set
		hits = hits + 1
	where
		boardnum = #{boardnum}
</update>

<!-- 전체 글 개수 -->
<select id="getTotal" parameterType="string" resultType="int">
	select 
		count(*)
	from 
		board
	<if test="_parameter != null">
	where 
		title like '%' || #{searchText} || '%'
	</if>
</select>

<!-- 현재 페이지 공지사항 목록 -->
<select id="listBoard" parameterType="string" resultType="Board">
	select 
		boardnum
		, title
		, id
		, hits
		, to_char(inputdate, 'YYYY-MM-DD HH24:MI:SS') inputdate
	from 
		board
	<if test="_parameter != null">
	where 
		title like '%' || #{searchText} || '%'
	</if>
	order by board_type desc, boardnum desc
</select>


<!-- 공지사항 게시글 삭제 -->
<delete id="deleteBoard" parameterType="Board">
	delete from
		board
	where
		boardnum = #{boardnum}
		and id = #{id}
</delete>

<!-- 공지사항 게시글 수정 -->
<update id="updateBoard" parameterType="Board">
	update 
		board
	set
		title = #{title}
		, content = #{content}
	where
		boardnum = #{boardnum}
		and id = #{id}
</update>


<!--    ###############################  여기까지 board XML  ################################# -->


<!-- 리플 저장 -->
<insert id="insertReply" parameterType="Reply">
	insert into reply (
		replynum
		, content
		, id
		, boardnum
	)
	values (
		reply_seq.nextval					<!-- ★ 댓글 번호에 사용할 시퀀스 만들어주기!! -->
		, #{content, jdbcType=VARCHAR}
		, #{id, jdbcType=VARCHAR}
		, #{boardnum}
	)
</insert>

<!-- QnA 리플 삭제 -->
<delete id="deleteReply" parameterType="Reply">
	delete from
		reply
	where
		replynum = #{replynum}
		and id = #{id}
</delete>

<!-- QnA 리플 목록 -->
<select id="listReply" parameterType="int" resultType="Reply">
	select 
		replynum
		, boardnum
		, content
		, id
	from 
		reply
	where
		boardnum = #{boardnum}
	order by 
		replynum desc
</select>

<!-- QnA 리플 수정 -->
<update id="updatereply" parameterType="Reply">
	update
		reply
	set
		content = #{content}
	where
		replynum = #{replynum}
		and id = #{id}
</update>


</mapper>
