<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 처리 SQL -->
<mapper namespace="global.sesoc.library.dao.BookMapper">

	<!-- 한줄평 저장 -->
	<insert id="insertReview" parameterType="review">
		insert into review (
			reviewnum
			, isbn
			, id
			, content
		)
		values (
			review_seq.nextval				
			, #{isbn}
			, #{id}
			, #{content}
		)
	</insert>
	
	<!-- 한줄평 삭제 -->
	<delete id="deleteReview" parameterType="review">
		delete
		from
			review
		where
			reviewnum = #{reviewnum}
			and id = #{id}
	</delete>
	
	<!-- 한줄평 목록 -->
	<select id="listReview" parameterType="String" resultType="review">
		select 
			reviewnum
			, isbn
			, id
			, to_char(inputdate, 'YYYY-MM-DD') inputdate
			, content
		from 
			review
		where
			isbn = #{isbn}
		order by 
			reviewnum desc
	</select>
	
	<!-- 한줄평 수정 -->
	<update id="updateReview" parameterType="Review">
		update
			review
		set
			content = #{content}
		where
			reviewnum = #{reviewnum}
			and id = #{id}
	</update>
	
	
	<!-- 카카오 책 정보 API 구현 -->
	<select id="selectKakaobook" resultType="Kakaobook">
		select 
			*
		from 
			kakaobook
		<if test="_parameter != null">
			<where>
				<if test='type == "1"'>
					title like '%' || #{searchText} || '%' OR authors like '%' ||
					#{searchText}
					||'%'
				</if>
				<if test='type == "2"'>
					title like '%' || #{searchText} || '%'
				</if>
				<if test='type == "3"'>
					authors like '%' || #{searchText} || '%'
				</if>
			</where>
		</if>
	</select>
	
	
	<!-- 같은 isbn의 책 정보 가져오기 (카카오 API용)-->
	<select id="getKakaoBook" resultType="Kakaobook">
			select 
				thumbnail
				, isbn
				, title
				, authors
				, publisher
				, booknum
				, SUBSTR(replace(datetime,'-',''),1,4)||'년 '||SUBSTR(replace(datetime,'-',''),5,2)||'월 '||SUBSTR(replace(datetime,'-',''),7,2)||'일' as datetime 
				, contents
				, hits
			from
				kakaobook 
			where isbn = #{isbn}
	</select>
	
	<!-- 조회수 1 증가 -->
	<update id="addHits" parameterType="string">
		update
			kakaobook
		set
			hits = hits + 1
		where
			isbn = #{isbn}
	</update>

	<!-- 베스트셀러 -->
	<select id="selectBestSeller" resultType="Kakaobook">
	select 
			*
		from 
			kakaobook
		order by hits desc
	</select>
	
	
	<!-- 전체 글 개수 (검색 필터링 후) -->
	<select id="getTotal" parameterType="book_search" resultType="int">
		select 
			count(*)
		from 
			kakaobook 
		<if test="_parameter != null">
			<where>
				<if test='type == "1"'>
					title like '%' || #{searchText} || '%' OR authors like '%' ||
					#{searchText}
					|| '%'
				</if>
				<if test='type == "2"'>
					title like '%' || #{searchText} || '%'
				</if>
				<if test='type == "3"'>
					authors like '%' || #{searchText} || '%'
				</if>
			</where>
		</if>
	</select>
	
	<!-- 위시리스트 저장 -->
	<insert id="addwishlist" parameterType="map">
		insert into shelf (id, isbn, authors, title, thumbnail) values (#{id}, #{isbn}, #{authors}, #{title}, #{thumbnail})
	</insert>
	
	<select id="recommendKakaobook" resultType="Kakaobook">
		select 
			*
		from 
			kakaobook
	</select>
	
	
	<!-- 카테고리별 분류 -->
	<select id="getCategory" parameterType="Kakaobook" resultType="String">
		select 
			*
		from 
			kakaobook
		where 
		 	genre = #{genre}
	</select>
	
	
	
</mapper>