<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="global.sesoc.library.dao.MemberMapper">

<!-- 회원 정보 저장 -->
<insert id="insertMember" parameterType="Members">
	insert into members (
		id
		, password
		, name
		, phone
		, email
		, sub
		, genre_num
	)
	values 
		(#{id}
		, #{password}
		, #{name}
		, #{phone}
		, #{email})
		, #{sub}
		, #{genre_num}
</insert>


<!-- 회원 정보 검색 (로그인) -->
<select id="selectMember" parameterType="string" resultType="Members">
	select * from members where id = #{id}
</select>


<!-- 회원 정보 수정 -->
<!-- 
<update id="" parameterType="member">
	update
		members
	set
		password = #{password}
		, name = #{name}
		, phone = #{phone}
		, address = #{address}
		, email = #{email}
	where
		id = #{id}
</update>
-->

</mapper>
